extends ../layout

block content
  .container
    h1.page-header 예약 가능한 Room
    
    table.table.table-bordered
      thead
        tr
          th 호스트명
          th 도시
          th 숙소 제목
          th 상세 주소
          th 요금
          th 설명 보기
          th 예약 요청
      tbody
        each room in rooms
          tr
            td= room.host
            td= room.city
            td
              a(href='/rooms/#{room.id}')= room.title
            td= room.address
            td= room.charge
            td= room.comment
            td
              a.btn.btn-xs.btn-default(href='/books/reservation') 예약
            
