extends ../layout

block content
  .container
    h1.page-header= rooms.title
    p
      b City #{rooms.city}
      |
      b Address #{rooms.address}
      |
      b Charge (per 1 days) #{rooms.charge}
      | 
      span at #{moment(rooms.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{rooms.read})
    p.well(style='white-space:pre;')= rooms.comment
    
    a.btn.btn-default(href='/rooms') 목록
